@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Bad_Script/BadScript-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Freckle Face';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Freckle_Face/FreckleFace-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Griffy';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Griffy/Griffy-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'KG Tangled Up In You';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KG_TangledUpInYou/KGTangledUpInYou.ttf) format("truetype"); }
@font-face {
  font-family: 'KG Ten Thousand Reasons';
  src: url(fonts/KG_TenThousandReasons/KGTenThousandReasonsAlt.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RNS Baruta';
  src: url(fonts/RNS_Baruta/RNSBaruta-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(fonts/Roboto/Roboto-Thin.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(fonts/Roboto/Roboto-Light.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(fonts/Roboto/Roboto-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: local("Roboto"), local("Roboto-Bold"), url(fonts/Roboto/Roboto-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: local("Roboto"), local("Roboto-Black"), url(fonts/Roboto/Roboto-Black.ttf) format("truetype"); }
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Satisfy/Satisfy-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Witka';
  font-style: normal;
  font-weight: 400;
  src: local("Witka"), url(fonts/Witka/Witka.ttf) format("truetype"); }
html.no-javascript, html.javascript {
  height: 100%;
  margin: 0;
  width: 100%; }

.site {
  background-attachment: fixed;
  background-color: black;
  background-image: url(images/background-hops.jpg);
  background-position: center 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: default;
  font-family: 'Roboto', Arial;
  height: 100%;
  margin: 0;
  width: 100%; }
@media (max-width: 500px) {
  .site {
    background-attachment: scroll; } }
@media (orientation: portrait) {
  .site {
    background-image: url(images/background-hops-portrait.jpg); } }
@media (max-width: 500px) {
  .site {
    background-position: center 0 !important; } }
.site h1, .site h2, .site h3, .site h4, .site h5, .site h6, .site p, .site ol, .site ul, .site dt, .site dd {
  margin: 0; }
.site ol, .site ul {
  list-style: none;
  padding: 0; }
.site em {
  font-style: normal;
  font-weight: 400; }
.site .hidden {
  display: none; }
.site > .row {
  margin: 0 !important; }

.text-apple {
  color: #979797; }

.text-facebook {
  color: #3B5998; }

.text-twitter {
  color: #00ACED; }

.text-google {
  color: #DD4B39; }

.text-youtube {
  color: #BB0000; }

.text-linkedin {
  color: #007BB6; }

.text-instagram {
  color: #517FA4; }

.text-pinterest {
  color: #CB2027; }

.text-vine {
  color: #00BF8F; }

.text-snapchat {
  color: #FFFC00; }

.text-quora {
  color: #A82400; }

.text-flickr {
  color: #FF0084; }

.text-tumbler {
  color: #32506D; }

.text-foursquare {
  color: #0072B1; }

.show-admin-bar {
  display: none; }

.dashicons-barcode:before {
  content: '\f02a';
  font-family: FontAwesome; }

.dashicons-beer:before {
  content: '\f0fc';
  font-family: FontAwesome; }

#beer_profile p {
  display: inline-block;
  width: 27em; }
#beer_profile .slider {
  margin-bottom: 2em;
  margin-top: 0.5em; }
#beer_profile input[type="number"] {
  text-align: right;
  width: 5em; }

/*# sourceMappingURL=style.css.map */
