@font-face {
  font-family: "Colored Crayons";
  src: url("fonts/Jonathan-S-Harris_Colored-Crayons/Colored Crayons.eot");
  src: url("fonts/Jonathan-S-Harris_Colored-Crayons/Colored Crayons.eot?#iefix") format("embedded-opentype"), url("fonts/Jonathan-S-Harris_Colored-Crayons/Colored Crayons.woff") format("woff"), url("fonts/Jonathan-S-Harris_Colored-Crayons/Colored Crayons.ttf") format("truetype"), url("fonts/Jonathan-S-Harris_Colored-Crayons/Colored Crayons.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Chalk It Up";
  src: url("fonts/DJB_Chalk_It_Up/DJB Chalk It Up.eot");
  src: url("fonts/DJB_Chalk_It_Up/DJB Chalk It Up.eot?#iefix") format("embedded-opentype"), url("fonts/DJB_Chalk_It_Up/DJB Chalk It Up.woff") format("woff"), url("fonts/DJB_Chalk_It_Up/DJB Chalk It Up.ttf") format("truetype"), url("fonts/DJB_Chalk_It_Up/DJB Chalk It Up.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Eraser";
  src: url("fonts/David-Rakowski_Eraser/EraserRegular.eot");
  src: url("fonts/David-Rakowski_Eraser/EraserRegular.eot?#iefix") format("embedded-opentype"), url("fonts/David-Rakowski_Eraser/EraserRegular.woff") format("woff"), url("fonts/David-Rakowski_Eraser/EraserRegular.ttf") format("truetype"), url("fonts/David-Rakowski_Eraser/EraserRegular.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "EraserDust";
  src: url("fonts/David-Rakowski_Eraser/EraserDust.eot");
  src: url("fonts/David-Rakowski_Eraser/EraserDust.eot?#iefix") format("embedded-opentype"), url("fonts/David-Rakowski_Eraser/EraserDust.woff") format("woff"), url("fonts/David-Rakowski_Eraser/EraserDust.ttf") format("truetype"), url("fonts/David-Rakowski_Eraser/EraserDust.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Legend M54";
  src: url("fonts/Legend_M54/legend_m54-webfont.eot");
  src: url("fonts/Legend_M54/legend_m54-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Legend_M54/legend_m54-webfont.woff") format("woff"), url("fonts/Legend_M54/legend_m54-webfont.ttf") format("truetype"), url("fonts/Legend_M54/legend_m54-webfont.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "PW Chalk";
  src: url("fonts/PW_Chalk/PWChalk.eot");
  src: url("fonts/PW_Chalk/PWChalk.eot?#iefix") format("embedded-opentype"), url("fonts/PW_Chalk/PWChalk.woff") format("woff"), url("fonts/PW_Chalk/PWChalk.ttf") format("truetype"), url("fonts/PW_Chalk/PWChalk.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Right Chalk";
  src: url("fonts/Right_Chalk/Right Chalk.eot");
  src: url("fonts/Right_Chalk/Right Chalk.eot?#iefix") format("embedded-opentype"), url("fonts/Right_Chalk/Right Chalk.woff") format("woff"), url("fonts/Right_Chalk/Right Chalk.ttf") format("truetype"), url("fonts/Right_Chalk/Right Chalk.svg#") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Urbanrest';
  src: url(fonts/Urbanrest/Urbanrest.eot?9t6i3b);
  src: url(fonts/Urbanrest/Urbanrest.eot?9t6i3b#iefix) format("embedded-opentype"), url(fonts/Urbanrest/Urbanrest.ttf?9t6i3b) format("truetype"), url(fonts/Urbanrest/Urbanrest.woff?9t6i3b) format("woff"), url(fonts/Urbanrest/Urbanrest.svg?9t6i3b#Urbanrest) format("svg");
  font-weight: normal;
  font-style: normal; }
.fa-untappd-square, .fa-untappd {
  font-family: 'Urbanrest' !important; }

.fa-untappd-square:before {
  content: "\e900"; }

.fa-untappd:before {
  content: "\e901"; }

@font-face {
  font-family: 'Bad Script';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Bad_Script/BadScript-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Freckle Face';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Freckle_Face/FreckleFace-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Griffy';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Griffy/Griffy-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'KG Tangled Up In You';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KG_TangledUpInYou/KGTangledUpInYou.ttf) format("truetype"); }
@font-face {
  font-family: 'KG Ten Thousand Reasons';
  src: url(fonts/KG_TenThousandReasons/KGTenThousandReasonsAlt.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'RNS Baruta';
  src: url(fonts/RNS_Baruta/RNSBaruta-Black.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(fonts/Roboto/Roboto-Thin.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(fonts/Roboto/Roboto-Light.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(fonts/Roboto/Roboto-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: local("Roboto"), local("Roboto-Bold"), url(fonts/Roboto/Roboto-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: local("Roboto"), local("Roboto-Black"), url(fonts/Roboto/Roboto-Black.ttf) format("truetype"); }
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Satisfy/Satisfy-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Witka';
  font-style: normal;
  font-weight: 400;
  src: local("Witka"), url(fonts/Witka/Witka.ttf) format("truetype"); }
html.no-javascript, html.javascript {
  height: 100%;
  margin: 0;
  width: 100%; }

.site {
  background-color: #000;
  /*
  background-attachment: fixed;
  @include media('<=phone') { background-attachment: scroll; }
  background-color: black;
  background-image: url(images/background-hops.jpg);
  @include media( 'portrait' ) { background-image: url(images/background-hops-portrait.jpg); }
  background-position: center 0;
  @include media('<=phone') { background-position: center 0 !important; }
  background-repeat: no-repeat;
  @include background-size( cover );
  */
  cursor: default;
  font-family: 'Roboto', Arial;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%; }
.site h1, .site h2, .site h3, .site h4, .site h5, .site h6, .site p, .site ol, .site ul, .site dt, .site dd {
  margin: 0; }
.site ol, .site ul {
  list-style: none;
  padding: 0; }
.site em {
  font-style: normal;
  font-weight: 400; }
.site .hidden {
  display: none; }
.site > .row {
  margin: 0 !important; }

.text-apple {
  color: #979797; }

.text-facebook {
  color: #3B5998; }

.text-twitter {
  color: #00ACED; }

.text-google {
  color: #DD4B39; }

.text-youtube {
  color: #BB0000; }

.text-linkedin {
  color: #007BB6; }

.text-instagram {
  color: #517FA4; }

.text-pinterest {
  color: #CB2027; }

.text-vine {
  color: #00BF8F; }

.text-snapchat {
  color: #FFFC00; }

.text-quora {
  color: #A82400; }

.text-flickr {
  color: #FF0084; }

.text-tumbler {
  color: #32506D; }

.text-foursquare {
  color: #0072B1; }

.show-admin-bar {
  display: none; }

.dashicons-barcode:before {
  content: '\f02a';
  font-family: FontAwesome; }

.dashicons-beer:before {
  content: '\f0fc';
  font-family: FontAwesome; }

#beer_profile p {
  display: inline-block;
  width: 27em; }
#beer_profile .slider {
  margin-bottom: 2em;
  margin-top: 0.5em; }
#beer_profile input[type="number"] {
  text-align: right;
  width: 5em; }

/*# sourceMappingURL=style.css.map */
