.site
{
	main.beer
	{
		background-color: #DCC1A7;
		background-image: url('images/single-background.min.jpg');
		background-position: top center;
		background-repeat: repeat;
		background-size: 20em;
		color: darken(#A88C76, 40%);
		font-weight: 300;
		min-height: 100%;
		overflow-x: hidden;
		padding-bottom: 4em;
		padding-top: 5.5em;
		width: 100%;


		hr
		{
			border-style: dashed;
			border-width: 1px 0 0 0;
			border-color: black;
			padding: 0;
			margin: 2em 1em;
		}

		iframe
		{
			border: none;
			border-radius: 0.25em;
			display: block;
			margin: 0 auto;
			max-width: 90%;
		}

		.beer-header
		{
			.beer-title
			{
				font-size: 2em;
				margin-bottom: 0.5em;
				margin-top: 1em;
			}

			.beer-profile
			{
				.label
				{
					@include media('<=tablet')
					{
						float: right;
					}
				}
			}

			.beer-style
			{
				font-size: 1.25em;
			}
		}

		.beer-image
		{
			margin: 0;
			position: relative;
			text-align: center;
			width: 100%;

			img
			{
				border-radius: 50%;
				height: 22em;
				width: 22em;
			}

			figcaption
			{
				background-color: rgba( black, 0.55 );
				bottom: 0;
				box-sizing: border-box;
				color: white;
				font-weight: 400;
				left: 0;
				padding: 1em;
				position: absolute;
				width: 100%;

				.beer-image-title
				{
					font-size: 1.5em;
				}

				.beer-image-caption
				{
					font-size: 0.8em;
					font-style: italic;
					font-weight: 100;
				}

				.beer-image-description
				{
					font-size: 1em;
					margin-top: 0.5em;
				}
			}
		}

		.beer-content
		{
			font-size: 1.2em;
			line-height: 1.5em;

			h2
			{
				font-size: 1.3em;
				margin-bottom: 0.25em;
			}

			p
			{
				margin-bottom: 1em;
			}

			section
			{
				margin-top: 1em;
			}

			.beer-tags
			{
				list-style: none;
				padding: 0;

				.beer-tag
				{
					display: inline;
					font-size: 0.8em;

					a
					{
						background-color: rgba( $urbanrest-black, 0.3 );
						border: none;
						border-radius: 0.25em;
						color: inherit;
						display: inline-block;
						margin-bottom: 0.5em;
						margin-right: 0.5em;
						padding: 0.25em 0.75em;
						@include transition( background-color 0.33s );

						&:hover
						{
							background-color: rgba( $urbanrest-green, 0.3 );
							color: $urbanrest-green;
							border: none;
							@include transition( background-color 0.11s );
						}
					}

					&:last-child a
					{
						margin-right: 0;
					}
				}
			}
		}

		.beer-footer
		{
			margin-top: 3em;

			.beer-sharing.modal:not(.modal-opened):not(.modal-closing) { display: none; }

			.beer-actions
			{
				text-align: center;

				.beer-share
				{
					@extend .share;
				}

				/*
				.beer-sharing
				{
					@extend .sharing;
				}
				*/

				.beer-checkin
				{
					display: none;

					&.modal-opened,
					&.modal-closing
					{
						@include prefixer(display, flex, webkit moz spec, value);
					}

					h5
					{
						color: white;
						font-weight: 400;
						font-size: 1em;
						margin-bottom: 1em;
					}

					.message
					{
						color: white;
						font-size: 3em;
						font-family: 'Satisfy';
						margin-bottom: 0.5em;
					}

					ul
					{
						list-style: none;
						padding: 0;
					}

					.beer-checkin-item
					{
						display: inline-block;
						margin-bottom: 2em;

						+ .beer-checkin-item { margin-left: 1em; }

						a
						{
							display: inline-block;
							height: 5em;
							width: 5em;

							&:before
							{
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
								border-radius: 1em;
								content: '';
								display: block;
								height: 5em;
								width: 5em;
							}

							span
							{
								display: none;
							}
						}

						.beeradvocate
						{
							&:before { background-image: url('images/icon-beeradvocate.min.png'); }
						}

						.ratebeer
						{
							&:before { background-image: url('images/icon-ratebeer.min.png'); }
						}

						.untappd
						{
							&:before { background-image: url('images/icon-untappd.min.png'); }
						}
					}
				}

				.beer-rating
				{
					h5
					{
						display: none;						
					}

					[itemprop="aggregateRating"]
					{
						display: none;
					}

					.rating-actions
					{
						display: inline-block;
						margin-bottom: 3em;

						.rate-button
						{
							background: none;
							border: none;
							color: transparent;
							cursor: pointer;
							font-size: 3.3em;
							height: 1em;
							outline: none;
							padding: 0;
							position: relative;
							width: 1em;

							&:before
							{
								color: rgba($urbanrest-black, 0.8);
								content: $fa-var-star;
								font-family: 'FontAwesome';
								font-size: 1em;
								opacity: 0.5;
								position: absolute;
								right: 0;
								top: 0;
							}

							&.rated:before
							{
								color: gold;
								opacity: 1;
							}

							&:after
							{
								color: $urbanrest-black;
								content: $fa-var-star-o;
								font-family: 'FontAwesome';
								font-size: 1em;
								position: absolute;
								right: 0;
								top: 0;
							}
						}

						&:hover
						{
							.rate-button
							{
								&:before
								{
									color: gold;
									opacity: 1;
								}

								&:hover ~ .rate-button:before
								{
									color: rgba($urbanrest-black, 0.8);
									opacity: 0.5;
								}
							}
						}
					}
				}
			}
		}
	}

	#main-navigation
	{
		bottom: auto;
		top: 0;
	}

	@include media( '>600px' ) { &.admin-bar #main-navigation { top: 46px; } }
	@include media( '>782px' ) { &.admin-bar #main-navigation { top: 32px; } }
}