.btn
{
	border: 3pt solid transparent;
	border-radius: 3pt;
	color: rgba( white, 0.5 );
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto';
	font-size: 1em;
	font-weight: 500;
	line-height: 1.25em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0.6em 0.8em;
	text-decoration: none;
	@include transition( background-color 0.33s, color 0.33s );

	&:focus
	{
		border: 3pt solid rgba( white, 0.5 );
		box-shadow: inset 0 0 1pt rgba( black, 0.5 );
		outline: none;

		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;

		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		
		-webkit-animation-name: pulse;
		animation-name: pulse;
	}

	&:active,
	&:hover
	{
		color: white;
		position: relative;
		z-index: 5;
		@include transition( background-color 0.11s, color 0.11s );
	}

	&[disabled]
	{
		color: rgba( white, 0.5 );
	}

	&.btn-primary
	{
		background-color: $urbanrest-green;

		&:hover { background-color: lighten( $urbanrest-green, 5% ); }
		&[disabled] { background-color: desaturate( $urbanrest-green, 50% ); }
	}

	&.loading,
	&.success,
	&.failure
	{
		position: relative;

		&:after
		{
			font-family: 'FontAwesome';
			font-size: 1.5em;
			position: absolute;
			right: -1.75em;
		}

		&.loading:after { @include animation( fa-spin 2s infinite linear ); content: $fa-var-circle-o-notch; color: white; }
		&.success:after { content: $fa-var-check-circle; color: $urbanrest-green; }
		&.failure:after { content: $fa-var-times-circle; color: $google-red; }
	}

	.btn-icon
	{
		font-size: 1.25em;
		margin-right: 0.5em;
		vertical-align: middle;
	}

	.btn-content
	{
		display: none;
	}
}