$urbanrest-black: #000000;
$urbanrest-white: #FFFFFF;
$urbanrest-green: #118844;
$urbanrest-tan:   #CCAA88;

$text-black: #333333;

$apple-grey:            #979797;
$facebook-blue:         #3B5998;
$twitter-blue:          #00ACED;
$google-red:            #DD4B39;
$youtube-red:           #BB0000;
$linkedin-blue:         #007BB6;
$instagram-blue:        #517FA4;
$pinterest-red:         #CB2027;
$vine-green:            #00BF8F;
$snapchat-yellow:       #FFFC00;
$quora-burgundy:        #A82400;
$flickr-pink:           #FF0084;
$tumblr-dark-turquoise: #32506D;
$foursquare-blue:       #0072B1;
