$urbanrest-black: #000000;
$urbanrest-white: #DCDFDE;
$urbanrest-green: #4CAF50;
$urbanrest-tan:   #CCAA88;

$chalk-blue:   #99D3FF;
$chalk-green:  #99FF99;
$chalk-orange: #FFBF99;
$chalk-purple: #EF99FF;
$chalk-red:    #FF9999;
$chalk-white:  #E0DBD1;
$chalk-yellow: #F9FF99;
$text-white:   #EEEEEE;
$text-black:   #333333;

$apple-grey:            #979797;
$facebook-blue:         #3B5998;
$flickr-pink:           #FF0084;
$foursquare-blue:       #0072B1;
$google-red:            #DD4B39;
$instagram-blue:        #517FA4;
$linkedin-blue:         #007BB6;
$pinterest-red:         #CB2027;
$quora-burgundy:        #A82400;
$snapchat-yellow:       #FFFC00;
$tumblr-dark-turquoise: #32506D;
$twitter-blue:          #00ACED;
$untappd-brown:         #7E471C;
$untappd-yellow:        #FBCC33;
$vine-green:            #00BF8F;
$youtube-red:           #BB0000;

$beer-light-yellow:  #F8F753;
$beer-medium-yellow: #F6F513;
$beer-gold:          #ECE61A;
$beer-deep-gold:     #D5BC26;
$beer-light-amber:   #BF923B;
$beer-copper:        #BF813A;
$beer-red:           #BC6733;
$beer-light-brown:   #8D4C32;
$beer-medium-brown:  #5D341A;
$beer-dark-brown:    #261716;
$beer-black:         #0F0B0A;