@media only screen
{
	#community
	{
		align-content: center;
		background-attachment: fixed;
		@include media('<=phone') { background-attachment: scroll; }
		background-color: black;
		background-image: url(images/background-neighborhood.jpg);
		@include media( 'portrait' ) { background-image: url(images/background-neighborhood-portrait.jpg); }
		background-position: center 0;
		@include media('<=phone') { background-position: center 0 !important; }
		background-repeat: no-repeat;
		@include background-size( cover );
		box-sizing: border-box;
		min-height: 100vh;
		overflow-x: hidden;
		padding: 5.75em 0 0;
		position: relative;
		text-align: center;
		width: 100%;

		h2
		{
			color: white;
			font-family: 'Witka';
			font-size: 3em;
			font-weight: 400;
			margin: 0 0 1em 0;
			text-decoration: none;
			text-shadow: 0 0 0.33em black;
			text-transform: uppercase;
		}

		#blog
		{
			h3
			{
				display: none;
			}
		}

		.latest-posts 
		{
			list-style: none;
			margin: 0;
			padding: 0;
			width: 100%;

			.blog-post
			{
				color: white;
				display: block;
				font-family: 'Roboto';
				padding-bottom: 2em;
				padding-top: 1em;
				text-decoration: none;

				.blog-post-image
				{
					background-position: center;
					@include background-size( cover );
					border-radius: 0.5em;
					display: inline-block;
					height: 10em;
					max-width: 25em;
					overflow: hidden;
					width: 90%;

					img
					{
						border-radius: 0.5em;
						display: none;
						height: 100%;
						object-fit: cover;
						width: 100%;
					}
				}
				
				a
				{
					color: inherit;
					text-decoration: none;
				}

				h4
				{
					color: inherit !important;
					font-family: inherit !important;
					font-weight: 300;
					margin: 0 !important;
					padding: 1em;
					text-decoration: none;
					text-shadow: 1pt 1pt   0 rgba( 0, 0, 0, 0.5 );
					text-shadow:   0   0 2em black,
					               0   0 2em black,
					               0   0 3em black,
					             1pt 1pt   0 rgba( 0, 0, 0, 0.5 );
				}

				.blog-post-intro
				{
					display: none;
				}
			}
		}

		.subscribe
		{
			background-color: rgba(0,0,0,0.666);
			color: white;
			font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
			margin: 0 auto;
			padding-top: 2em;
			padding-bottom: 2em;
			width: 100%;

			header
			{
				padding-left: 2em;
				padding-right: 2em;

				h4
				{
					font-family: 'Rock Salt';
					font-size: 2em;
					line-height: 1.5em;
					margin: 0;

					@include media('>=tablet')
					{
						text-align: left;
					}
				}

				p
				{
					font-family: 'Roboto';
					font-size: 1.25em;
					font-weight: 100;

					@include media('>=tablet')
					{
						text-align: left;
					}
				}

				.social-menu
				{
					font-size: 1.5em;
				}
			}

			form
			{
				padding-left: 2em;
				padding-right: 2em;
				padding-top: 2em;
			}

			label
			{
				display: none;
			}

			#mc_embed_signup_scroll
			{
				display: flex;
				flex-wrap: wrap;

				.mc-field-group
				{
					display: inline-block;
					float: left;
					width: 50%;

					&.mc-email-group
					{
						width: 100%;
					}

					input
					{
						background-color: rgba( 255, 255, 255, 0.11 );
						border: solid 1pt rgba( 255, 255, 255, 0.25 );
						box-sizing: border-box;
						color: white;
						font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
						font-size: 1.25em;
						margin: 0;
						outline: none;
						padding: 0.5em;
						text-align: center;
						@include transition( background-color 0.33s ease-in-out, border-color 0.33s ease-in-out, color 0.33s ease-in-out );
						width: 100%;

						&#mce-FNAME
						{
							border-right-color: rgba(255,255,255,0.125);
							margin-right: 0.5em;
							width: calc(100% - 0.5em);
						}

						&#mce-LNAME
						{
							border-left-color: rgba(255,255,255,0.125);
							margin-left: 0.5em;
							position: relative;
							width: calc(100% - 0.5em);
						}

						&#mce-EMAIL
						{
							margin-top: 1em;
						}

						&.error
						{
							@include animation( shake 0.25s linear 3 );
							background-color: rgba( 255, 0, 0, 0.11 );
							border-color: rgba( 255, 0, 0, 0.25 );
							color: red;
						}

						&:focus
						{
							background: rgba( 255, 255, 255, 0.33 );
							border-color: rgba( 255, 255, 255, 0.5 );

							&.error
							{
								background-color: rgba( 255, 0, 0, 0.33 );
								border-color: rgba( 255, 0, 0, 0.5 );
								color: red;
							}
						}
					}
				}

				.help
				{
					box-sizing: border-box;
					color: red;
					display: block;
					line-height: 2em;
					overflow: hidden;
					padding: 0.5em;
					@include transition( height 0.33s ease-in-out );

					&.hidden
					{
						height: 0;
					}
				}

				.mc-submit
				{
					width: 100%;

					button
					{

						&:before
						{
							content: '\f12a';
							display: inline-block;
							font-family: FontAwesome;
							font-size: 1.25em;
							margin-right: 0.5em;
							vertical-align: middle;
						}
					}
				}
			}
		}	
	}
}