@media only screen
{
	.site
	{
		.site-company
		{
			background-image: url('images/single-background.min.jpg');
			background-position: top center;
			background-repeat: repeat;
			color: $text-black;
			padding-top: 7em;

			header
			{
				display: none;
			}

			[itemprop="streetAddress"] { display: block; }
			[itemprop="addressLocality"]:after { content: ','; }
			[itemprop="addressCountry"] { display: none; }


			.site-pages
			{
				header
				{
					display: none;
				}

				.page
				{
					box-sizing: border-box;
					display: inline-block;
					font-size: 1em;
					line-height: 1.5em;
					margin-bottom: 2em;
					padding: 0 2em;
					vertical-align: top;
					width: 33%;

					@include media('<=phone')
					{
						width: 100%;
					}

					h4
					{
						color: $urbanrest-white;
						font-family: 'Legend M54';
						font-size: 2em;
						font-weight: 400;
						letter-spacing: 0.1em;
						margin-bottom: 1em;
						margin-top: 0.25em;
						text-align: center;
						text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
						text-transform: uppercase;
						
						a
						{
							color: $urbanrest-white;
							text-decoration: none;
						}
					}

					figure
					{
						margin: 0;

						img
						{
							height: auto;
							width: 100%;
						}
					}
				}
			}

			.site-location
			{
				text-align: center;

				@include media('>tablet')
				{
					min-height: calc(100vh - 13.5em);
				}

				h3
				{
					display: none;
				}

				h4
				{
					display: none;
				}

				.company-url
				{
					display: none;
				}

				.business-hours
				{
					display: inline-block;
					font-size: 1.25em;
					font-weight: 300;
					position: relative;
					text-align: left;

					h5
					{
						font-family: 'Legend M54';
						font-size: 2em;
						font-weight: 400;
						line-height: 1.5em;
						margin-bottom: 0;
						text-align: center;
					}

					dl
					{
						line-height: 1.9em;
						margin-bottom: 1em;
						width: 15em;

						dd, dt
						{
							background-color: rgba( black, 0.00); 
							display: inline-block;
							margin: 0;
							opacity: 0.75;
							@include transition( background-color 0.33s, opacity 0.22s );
							width: 50%;

							&.today { opacity: 0.88; font-weight: 400; }
						}

						dt
						{
							text-align: left;
						}

						dd
						{
							text-align: right;
						}
					}
				}

				@include media('<=tablet')
				{
					padding-bottom: 6rem;
				}
			}

			.site-contact
			{
				color: white;
				font-family: 'Roboto';
				margin: 0 auto;
				width: 100%;

				@include media('<=tablet') {
					-webkit-order: -1;
					-ms-flex-order: -1;
					order: -1;
					padding-bottom: 4em;
				}

				header
				{
					padding-left: 2em;
					padding-right: 2em;

					h4
					{
						display: none;
					}

					p
					{
						font-family: 'Roboto';
						font-size: 1.25em;
						font-weight: 100;
						margin-bottom: 1.5em;
						margin-top: 0.5em;

						@include media('>=tablet')
						{
							text-align: left;
						}
					}
				}

				.social-menu
				{
					font-size: 1.5em;
					margin: 0 auto;
					text-align: center;

					@include media('<=tablet')
					{
						font-size: 1em;
						margin-bottom: 2em;
					}
				}


				.legal
				{
					font-size: 0.8em;
					margin-top: 2em;
					text-align: center;
					width: 100%;

					a
					{
						color: rgba($urbanrest-black, 0.75);
						cursor: pointer;
						display: inline-block;
						font-weight: 400;
						text-decoration: none;

						&:hover
						{
							color: $urbanrest-green;
						}

						&:focus
						{
							color: $urbanrest-green;
							outline: none;

							-webkit-animation-duration: 3s;
							animation-duration: 3s;
							-webkit-animation-fill-mode: both;
							animation-fill-mode: both;

							-webkit-animation-iteration-count: infinite;
							animation-iteration-count: infinite;

							-webkit-animation-name: flash;
							animation-name: flash;
						}
					}
				}

				.contact-form
				{
					font-size: 1.25em;
					padding-left: 2em;
					padding-right: 2em;

					h5
					{
						display: none;
					}

					.field
					{
						font-size: 0.8em;
						overflow: hidden;
						padding: 0;
						position: relative;


						border: solid rgba( $urbanrest-black, 0.25 );
						&:nth-child(2) { border-radius: 4px 0 0 0; border-width: 1px 0 0 1px; }
						&:nth-child(3) { border-radius: 0 4px 0 0; border-width: 1px 1px 0 0; }
						&:nth-child(4) { border-width: 0 1px 0 1px; }
						&:nth-child(5) { border-radius: 0 0 4px 4px; border-width: 0 1px 1px 1px; }

						&:nth-child(2) input { border-radius: 4px 0 0 0; }
						&:nth-child(3) input { border-radius: 0 4px 0 0; }
						&:nth-child(5) textarea { border-radius: 0 0 4px 4px; }

						input,
						textarea
						{
							background-color: rgba( $urbanrest-black, 0.11 );
							border: solid 1px rgba( $urbanrest-black, 0.25 );
							border-radius: 0;
							box-sizing: border-box;
							color: $urbanrest-black;
							font-family: 'Roboto';
							font-size: 1em;
							font-weight: 400;
							margin: 0;
							outline: none;
							padding: 1em 0.5em 0.75em;
							@include transition( background-color 0.33s ease-in-out, border-color 0.33s ease-in-out, color 0.33s ease-in-out );
							width: 100%;

							&:focus
							{
								background: rgba( $urbanrest-black, 0.22 );
								border-color: rgba( $urbanrest-black, 0.5 );
							}

							&:-webkit-autofill
							{
								background-color: inherit;
								background-image: inherit;
								color: inherit;
							}

							&::-webkit-input-placeholder
							{
								color: rgba($urbanrest-black, 0.6);
								font-weight: 300;
								@include transition( color 0.33s ease-in-out );
							}

							&#contact_message
							{
								-ms-overflow-style: none;
								display: block;
								height: 5.65em;
								overflow: auto;
								resize: none;
								@include transition( height 0.25s );

								@include media('<=tablet')
								{
									height: 3.25em;
								}
							}
						}

						&.error
						{
							input,
							textarea
							{
								background-color: rgba( red, 0.11 );
								border-color: rgba( red, 0.75 );
								color: red;

								&:focus
								{
									background-color: rgba( red, 0.33 );
									border-color: rgba( red, 0.5 );
									color: red;
								}

								&::-webkit-input-placeholder { color: rgba(red, 0.6); }
							}

							label
							{
								color: rgba( red, 0.6 );
								font-weight: 400;
							}

							&:after
							{
								@include animation( fadeInRight 0.125s linear 1 );
								color: red;
								content: $fa-var-exclamation-circle;
								cursor: help;
								display: block;
								font-family: 'FontAwesome';
								font-size: 1.5em;
								padding: 0.2em 0.33em;
								position: absolute;
								right: 0;
								top: 0.4em;
							}
						}
						
						label
						{
							color: rgba($urbanrest-black,0.5);
							display: block;
							font-size: 1em;
							font-weight: 300;
							left: 0.75em;
							pointer-events: none;
							position: absolute;
							top: 0.9em;
							@include transition( 0.11s ease all );
						}

						&.active
						{
							label
							{
								font-size: 0.75em;
								top: 0.25em;
							}

							input,
							textarea
							{
								padding: 1.25em 0.5em 0.5em;
							}
						}
					}

					.option
					{
						font-size: 0.8em;
						margin-bottom: 1em;
						margin-top: 1em;
						text-align: center;

						input
						{
							display: none;

							+ label
							{
								color: rgba($urbanrest-black, 0.75);
								cursor: pointer;
								display: inline-block;
								font-weight: 600;
								text-decoration: line-through;

								&:before
								{
									border: solid 2px $google-red;
									border-radius: 3px;
									color: $google-red;
									content: '\f05e';
									display: inline-block;
									float: left;
									font-family: FontAwesome;
									height: 1em;
									line-height: 1em;
									margin-right: 0.6em;
									padding: 0.1em;
									text-decoration: none;
									width: 1em;
								}
							}

							&:checked + label
							{
								text-decoration: none;

								&:before
								{
									border-color: $urbanrest-green;
									color: $urbanrest-green;
									content: $fa-var-check;
								}
							}
						}
					}

					.submit
					{
						font-size: 0.8em;
						text-align: center;
						width: 100%;
					}
				}
			}

			.site-map
			{
				margin-top: 3em;
				padding-left: 0;
				padding-right: 0;

				@include media('<=tablet')
				{
					margin-top: 0;
				}

				.map-link
				{
					background-color: rgba( $urbanrest-black, 0.00 );
					box-sizing: border-box;
					color: inherit;
					cursor: pointer;
					display: block;
					font-size: 1.5em;
					font-weight: 200;
					margin: 0;
					padding: 0.5em;
					text-align: center;
					text-decoration: none;
					@include transition( background-color 0.33s );
					width: 100%;

					&:after
					{
						content: '\f138';
						display: inline-block;
						font-family: 'FontAwesome';
						margin-left: 0.5em;
						@include transform( rotate(0deg) );
						@include transition( all 0.33s );
						width: 1em;
					}

					&:hover
					{
						background-color: rgba( $urbanrest-black, 0.11 );
						@include transition( background-color 0.11s );
					}

					&:focus
					{
						outline: none;

						-webkit-animation-duration: 3s;
						animation-duration: 3s;
						-webkit-animation-fill-mode: both;
						animation-fill-mode: both;

						-webkit-animation-iteration-count: infinite;
						animation-iteration-count: infinite;

						-webkit-animation-name: flash;
						animation-name: flash;
					}
				}

				.map-container
				{
					color: $text-black;
					height: 0px;
					overflow: hidden;
					position: relative;
					@include transition( height 0.666s );
					width: 100%;

					.map-canvas
					{
						background: none !important;
						height: 525px;
						max-width: none !important;
						width: 100%;
					}

					.map-external-link
					{
						color: $urbanrest-green;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				&.open
				{
					.map-link
					{
						&:after { @include transform( rotate(90deg) ); }
					}

					.map-container
					{
						height: 500px;

						/*
						.map-menu
						{
							opacity: 1;
							@include transition( opacity 0.33s 0.5s );
						}
						*/
					}
				}
			}
		}
	}
}