@media only screen
{
	.site
	{
		.site-company
		{
			background-image: url(images/tile-oak-wood.min.png);
			background-position: top center;
			background-repeat: repeat;
			color: $text-white;
			padding-top: 7em;

			header
			{
				display: none;
			}

			[itemprop="streetAddress"] { display: block; }
			[itemprop="addressLocality"]:after { content: ','; }
			[itemprop="addressCountry"] { display: none; }


			.site-pages
			{
				header
				{
					display: none;
				}

				.page
				{
					box-sizing: border-box;
					display: inline-block;
					font-size: 1em;
					line-height: 1.5em;
					margin-bottom: 2em;
					padding: 0 2em;
					vertical-align: top;
					width: 33%;

					@include media('<=phone')
					{
						width: 100%;
					}

					h4
					{
						color: $urbanrest-white;
						font-family: 'Legend M54';
						font-size: 2em;
						font-weight: 400;
						letter-spacing: 0.1em;
						margin-bottom: 1em;
						margin-top: 0.25em;
						text-align: center;
						text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
						text-transform: uppercase;
						
						a
						{
							color: $urbanrest-white;
							text-decoration: none;
						}
					}

					figure
					{
						margin: 0;

						img
						{
							height: auto;
							width: 100%;
						}
					}
				}
			}

			.site-location
			{
				text-align: center;

				@include media('>tablet')
				{
					min-height: calc(100vh - 13.5em);
				}

				h3
				{
					display: none;
				}

				h4
				{
					display: none;
				}

				.company-url
				{
					display: none;
				}

				.business-hours
				{
					display: inline-block;
					font-size: 1.25em;
					font-weight: 300;
					position: relative;
					text-align: left;

					h5
					{
						font-family: 'Legend M54';
						font-size: 2em;
						font-weight: 400;
						line-height: 1.5em;
						margin-bottom: 0;
						text-align: center;
					}

					dl
					{
						line-height: 1.9em;
						margin-bottom: 1em;
						width: 15em;

						dd, dt
						{
							background-color: rgba( black, 0.00); 
							display: inline-block;
							margin: 0;
							opacity: 0.75;
							@include transition( background-color 0.33s, opacity 0.22s );
							width: 50%;

							&.today { opacity: 0.88; font-weight: 400; }
						}

						dt
						{
							text-align: left;
						}

						dd
						{
							text-align: right;
						}
					}

					.status
					{
						color: rgba( white, 0.33 );
						display: none; /* TODO: figure out how to properly handle status */
						font-size: 0.7em;
						margin-bottom: 0;
						text-transform: uppercase;
						width: 100%;

						em
						{
							float: right;
							font-style: normal;

							&.closed {color: $google-red;}
							&.open {color: $urbanrest-green;}
						}
					}
				}

				@include media('<=tablet')
				{
					padding-bottom: 6rem;
				}
			}

			.site-contact
			{
				color: white;
				font-family: 'Roboto';
				margin: 0 auto;
				width: 100%;

				@include media('<=tablet') {
					-webkit-order: -1;
					-ms-flex-order: -1;
					order: -1;
					padding-bottom: 4em;
				}

				header
				{
					padding-left: 2em;
					padding-right: 2em;

					h4
					{
						display: none;
					}

					p
					{
						font-family: 'Roboto';
						font-size: 1.25em;
						font-weight: 100;
						margin-bottom: 1.5em;
						margin-top: 0.5em;

						@include media('>=tablet')
						{
							text-align: left;
						}
					}
				}

				.social-menu
				{
					font-size: 1.5em;
					margin: 0 auto;
					text-align: center;

					@include media('<=tablet')
					{
						font-size: 1em;
						margin-bottom: 2em;
					}
				}


				.legal
				{
					font-size: 0.8em;
					margin-top: 2em;
					text-align: center;
					width: 100%;

					a
					{
						color: rgba($urbanrest-white, 0.5);
						cursor: pointer;
						display: inline-block;
						font-weight: 200;
						text-decoration: none;

						&:hover
						{
							color: $urbanrest-green;
						}
					}
				}

				.contact-form
				{
					font-size: 1.25em;
					padding-left: 2em;
					padding-right: 2em;

					h5
					{
						display: none;
					}

					.field
					{
						font-size: 0.8em;
						overflow: hidden;
						padding: 0;
						position: relative;

						label
						{
							display: none;
						}


						border: solid rgba( $urbanrest-white, 0.25 );
						&:nth-child(2) { border-width: 1px 0 0 1px; }
						&:nth-child(3) { border-width: 1px 1px 0 0; }
						&:nth-child(4) { border-width: 0 1px 0 1px; }
						&:nth-child(5) { border-width: 0 1px 1px 1px; }

						input,
						textarea
						{
							background-color: rgba( $urbanrest-black, 0.22 );
							border: solid 1px rgba( $urbanrest-white, 0.25 );
							border-radius: 0;
							box-sizing: border-box;
							color: white;
							font-family: 'Roboto';
							font-size: 1em;
							font-weight: 200;
							margin: 0;
							outline: none;
							padding: 0.5em;
							@include transition( background-color 0.33s ease-in-out, border-color 0.33s ease-in-out, color 0.33s ease-in-out );
							width: 100%;

							&:focus
							{
								background: rgba( $urbanrest-black, 0.33 );
								border-color: rgba( $urbanrest-white, 0.5 );
							}

							&:-webkit-autofill
							{
								background-color: inherit;
								background-image: inherit;
								color: inherit;
							}

							&::-webkit-input-placeholder
							{
								color: rgba(white, 0.6);
								@include transition( color 0.33s ease-in-out );
							}

							&#contact_message
							{
								-ms-overflow-style: none;
								display: block;
								height: 5.65em;
								overflow: auto;
								resize: none;
								@include transition( height 0.25s );

								@include media('<=tablet')
								{
									height: 2.5em;

									&:focus
									{
										height: 5.65em;
									}
								}
							}
						}

						&.error
						{
							input,
							textarea
							{
								background-color: rgba( red, 0.11 );
								border-color: rgba( red, 0.25 );
								color: red;

								&:focus
								{
									background-color: rgba( red, 0.33 );
									border-color: rgba( red, 0.5 );
									color: red;
								}

								&::-webkit-input-placeholder { color: rgba(red, 0.6); }
							}

							&:after
							{
								@include animation( fadeInRight 0.125s linear 1 );
								color: red;
								content: $fa-var-exclamation-circle;
								cursor: help;
								display: block;
								font-family: 'FontAwesome';
								font-size: 1.5em;
								padding: 0.2em 0.33em;
								position: absolute;
								right: 0;
								top: 0;
							}
						}
					}

					.option
					{
						font-size: 0.8em;
						margin-bottom: 1em;
						margin-top: 1em;
						text-align: center;

						input
						{
							display: none;

							+ label
							{
								color: rgba($urbanrest-white, 0.5);
								cursor: pointer;
								display: inline-block;
								font-weight: 200;
								text-decoration: line-through;

								&:before
								{
									border: solid 2px rgba(220,223,222,0.25);
									content: '\f05e';
									display: inline-block;
									float: left;
									font-family: FontAwesome;
									height: 1em;
									line-height: 1em;
									margin-right: 0.6em;
									padding: 0.1em;
									text-decoration: none;
									width: 1em;
								}

								&:hover:before
								{
									color: $google-red;
								}
							}

							&:checked + label
							{
								text-decoration: none;

								&:before
								{
									content: $fa-var-check;
								}

								&:hover:before
								{
									color: $urbanrest-green;
								}
							}
						}
					}

					.submit
					{
						font-size: 0.8em;
						text-align: center;
						width: 100%;
					}
				}
			}

			.site-map
			{
				margin-top: 3em;
				padding-left: 0;
				padding-right: 0;

				@include media('<=tablet')
				{
					margin-top: 0;
				}

				.map-link
				{
					background-color: rgba( $urbanrest-black, 0.00 );
					box-sizing: border-box;
					color: inherit;
					cursor: pointer;
					display: block;
					font-size: 1.5em;
					font-weight: 200;
					margin: 0;
					padding: 0.5em;
					text-align: center;
					text-decoration: none;
					@include transition( background-color 0.33s );
					width: 100%;

					&:after
					{
						content: '\f138';
						display: inline-block;
						font-family: 'FontAwesome';
						margin-left: 0.5em;
						@include transform( rotate(0deg) );
						@include transition( transform 0.33s );
						width: 1em;
					}

					&:hover
					{
						background-color: rgba( $urbanrest-black, 0.33 );
						@include transition( background-color 0.11s );
					}
				}

				.map-container
				{
					color: $text-black;
					height: 0px;
					overflow: hidden;
					position: relative;
					@include transition( height 0.666s );
					width: 100%;

					/*
					.map-menu
					{
						bottom: 1.6em;
						left: 0.6em;
						opacity: 0;
						padding: 0;
						position: absolute;
						@include transition( opacity 0.33s 0s );
						width: auto !important;
						z-index: 1;

						.menu-item
						{
							display: inline-block;
							margin-right: 0.25em;

							a
							{
								background-repeat: no-repeat;
								background-size: contain;
								color: transparent;
								display: inline-block;
								font-size: 0;
								height: 2.5rem;
								opacity: 0.75;
								overflow: hidden;
								width: 2.5rem;

								&:hover { opacity: 1; }
							}

							&.google-maps a
							{
								height: 2.9rem;
								margin-bottom: -0.25rem;
								width: 2.9rem;
							}
							
							&.apple-maps a   { background-image: url(images/icon-apple-maps.min.png);   }
							&.foursquare a   { background-image: url(images/icon-foursquare.min.png);   }
							&.google-maps a  { background-image: url(images/icon-google-maps.min.png);  }
							&.mapquest a     { background-image: url(images/icon-mapquest.min.png);     }
							&.yellow-pages a { background-image: url(images/icon-yellow-pages.min.png); }
						}
					}
					*/

					.map-canvas
					{
						background: none !important;
						height: 525px;
						max-width: none !important;
						width: 100%;
					}
				}

				&.open
				{
					.map-link
					{
						&:after { @include transform( rotate(90deg) ); }
					}

					.map-container
					{
						height: 500px;

						/*
						.map-menu
						{
							opacity: 1;
							@include transition( opacity 0.33s 0.5s );
						}
						*/
					}
				}
			}
		}
	}
}