$root: '' !default;

@mixin font($family, $path, $svg, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font('Chalk It Up', $root + 'fonts/DJB_Chalk_It_Up/DJB Chalk It Up', '');
@include font('Flux',        $root + 'fonts/Flux/Flux Architect Regular',     '', 400);
@include font('Flux',        $root + 'fonts/Flux/Flux Architect Bold',        '', 600);
@include font('Flux',        $root + 'fonts/Flux/Flux Architect Italic',      '', 400, italic);
@include font('Flux',        $root + 'fonts/Flux/Flux Architect Bold Italic', '', 600, italic);
@include font('Legend M54',  $root + 'fonts/Legend_M54/legend_m54-webfont',   '');
@include font('RNS Baruta',  $root + 'fonts/RNS_Baruta/RNSBaruta-Black',      '');
@include font('Roboto',      $root + 'fonts/Roboto/Roboto-Thin',              '', 100);
@include font('Roboto',      $root + 'fonts/Roboto/Roboto-Light',             '', 300);
@include font('Roboto',      $root + 'fonts/Roboto/Roboto-Regular',           '', 400);
@include font('Roboto',      $root + 'fonts/Roboto/Roboto-Bold',              '', 600);
@include font('Roboto',      $root + 'fonts/Roboto/Roboto-Black',             '', 800);
@include font('Roboto Mono', $root + 'fonts/Roboto_Mono/RobotoSlab-Thin',     '', 100);
@include font('Roboto Mono', $root + 'fonts/Roboto_Mono/RobotoSlab-Light',    '', 300);
@include font('Roboto Mono', $root + 'fonts/Roboto_Mono/RobotoSlab-Regular',  '', 400);
@include font('Roboto Mono', $root + 'fonts/Roboto_Mono/RobotoSlab-Medium',   '', 500);
@include font('Roboto Mono', $root + 'fonts/Roboto_Mono/RobotoSlab-Bold',     '', 700);
@include font('Roboto Slab', $root + 'fonts/Roboto_Slab/RobotoSlab-Thin',     '', 100);
@include font('Roboto Slab', $root + 'fonts/Roboto_Slab/RobotoSlab-Light',    '', 300);
@include font('Roboto Slab', $root + 'fonts/Roboto_Slab/RobotoSlab-Regular',  '', 400);
@include font('Roboto Slab', $root + 'fonts/Roboto_Slab/RobotoSlab-Bold',     '', 700);
@include font('Satisfy',     $root + 'fonts/Satisfy/Satisfy-Regular',         '');







//@include font('Bad Script', $root+'fonts/Bad_Script/BadScript-Regular', '');
//@include font('Colored Crayons', $root+'fonts/Jonathan-S-Harris_Colored-Crayons/Colored Crayons', '');
//@include font('Eraser', $root+'fonts/David-Rakowski_Eraser/EraserRegular', '');
//@include font('EraserDust', $root+'fonts/David-Rakowski_Eraser/EraserDust', '');
//@include font('Freckle Face', $root+'fonts/Freckle_Face/FreckleFace-Regular', '');
//@include font('Gotham', $root+'fonts/Gotham_Bold/ufonts.com_gotham-bold-webfont', '', 600);
//@include font('Gotham', $root+'fonts/Gotham_Black/ufonts.com_gotham-black-webfont', '', 800);
//@include font('Griffy', $root+'fonts/Griffy/Griffy-Regular', '');
//@include font('KG Tangled Up In You', $root+'fonts/KG_TangledUpInYou/KGTangledUpInYou', '');
//@include font('KG Ten Thousand Reasons', $root+'fonts/KG_TenThousandReasons/KGTenThousandReasonsAlt', '');
//@include font('PW Chalk', $root+'fonts/PW_Chalk/PWChalk', '');
//@include font('Right Chalk', $root+'fonts/Right_Chalk/Right Chalk', '');
//@include font('RNS Baruta', $root+'fonts/RNS_Baruta/RNSBaruta-Black', '');
//@include font('Urbanrest', $root+'fonts/Urbanrest/Urbanrest', '');
//@include font('Witka', $root+'fonts/Witka/Witka', '');