$root: '' !default;

@mixin font($family, $path, $svg, $weight: normal, $style: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

//@include font('Bad Script', $root+'fonts/Bad_Script/BadScript-Regular', '');
@include font('Colored Crayons', $root+'fonts/Jonathan-S-Harris_Colored-Crayons/Colored Crayons', '');
@include font('Chalk It Up', $root+'fonts/DJB_Chalk_It_Up/DJB Chalk It Up', '');
//@include font('Eraser', $root+'fonts/David-Rakowski_Eraser/EraserRegular', '');
//@include font('EraserDust', $root+'fonts/David-Rakowski_Eraser/EraserDust', '');
//@include font('Freckle Face', $root+'fonts/Freckle_Face/FreckleFace-Regular', '');
@include font('Gotham', $root+'fonts/Gotham_Bold/ufonts.com_gotham-bold-webfont', '', 600);
@include font('Gotham', $root+'fonts/Gotham_Black/ufonts.com_gotham-black-webfont', '', 800);
//@include font('Griffy', $root+'fonts/Griffy/Griffy-Regular', '');
//@include font('KG Tangled Up In You', $root+'fonts/KG_TangledUpInYou/KGTangledUpInYou', '');
//@include font('KG Ten Thousand Reasons', $root+'fonts/KG_TenThousandReasons/KGTenThousandReasonsAlt', '');
@include font('Legend M54', $root+'fonts/Legend_M54/legend_m54-webfont', '');
//@include font('PW Chalk', $root+'fonts/PW_Chalk/PWChalk', '');
//@include font('Right Chalk', $root+'fonts/Right_Chalk/Right Chalk', '');
@include font('Roboto', $root+'fonts/Roboto/Roboto-Thin', '', 100);
@include font('Roboto', $root+'fonts/Roboto/Roboto-Light', '', 300);
@include font('Roboto', $root+'fonts/Roboto/Roboto-Regular', '', 400);
@include font('Roboto', $root+'fonts/Roboto/Roboto-Bold', '', 600);
@include font('Roboto', $root+'fonts/Roboto/Roboto-Black', '', 800);
//@include font('RNS Baruta', $root+'fonts/RNS_Baruta/RNSBaruta-Black', '');
//@include font('Satisfy', $root+'fonts/Satisfy/Satisfy-Regular', '');
@include font('Urbanrest', $root+'fonts/Urbanrest/Urbanrest', '');
//@include font('Witka', $root+'fonts/Witka/Witka', '');
/*
@font-face {
    font-family: 'Urbanrest';
    src:    url(fonts/Urbanrest/Urbanrest.eot?9t6i3b);
    src:    url(fonts/Urbanrest/Urbanrest.eot?9t6i3b#iefix) format('embedded-opentype'),
        url(fonts/Urbanrest/Urbanrest.ttf?9t6i3b) format('truetype'),
        url(fonts/Urbanrest/Urbanrest.woff?9t6i3b) format('woff'),
        url(fonts/Urbanrest/Urbanrest.svg?9t6i3b#Urbanrest) format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

.fa-untappd-square,
.fa-untappd {
	font-family: 'Urbanrest' !important;
}
.fa-untappd-square:before {
    content: "\e900";
}
.fa-untappd:before {
    content: "\e901";
}
/*
@font-face {
	font-family: 'Bad Script';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Bad_Script/BadScript-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Freckle Face';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Freckle_Face/FreckleFace-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Griffy';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Griffy/Griffy-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'KG Tangled Up In You';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/KG_TangledUpInYou/KGTangledUpInYou.ttf) format('truetype');
}
@font-face {
	font-family: 'KG Ten Thousand Reasons';
	src: url(fonts/KG_TenThousandReasons/KGTenThousandReasonsAlt.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'RNS Baruta';
	src: url(fonts/RNS_Baruta/RNSBaruta-Black.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
	src: local('Roboto Thin'),
	     local('Roboto-Thin'),
	     url(fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'),
	     local('Roboto-Light'),
	     url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'),
	     local('Roboto-Regular'),
	     url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	src: local('Roboto'),
	     local('Roboto-Bold'),
	     url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 800;
	src: local('Roboto'),
	     local('Roboto-Black'),
	     url(fonts/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
	font-family: 'Satisfy';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/Satisfy/Satisfy-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Witka';
	font-style: normal;
	font-weight: 400;
	src: local('Witka'),
	     url(fonts/Witka/Witka.ttf) format('truetype');
}
*/