.gallery
{
	display: block;
	text-align: center;
	
	@include media('>phone') {
		@include display( flex );
		@include flex-wrap( wrap );
		@include justify-content( space-around );
	}

	.gallery-item
	{
		display: inline-block;
		margin: 0;
		text-align: center;

		@include media('>phone') {
			@include flex( 1 );
		}

		.gallery-icon
		{
			a {
				display: inline-block;
				margin: 0.5em;
			}
			img { vertical-align: bottom; }
		}

		figcaption {
			display: none;
		}
	}
}

.mfp-close,
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close
{
	background: none;
	border: none;
	box-sizing: border-box;
	color: rgba( $urbanrest-white, 0.5 );
	cursor: pointer;
	font-size: 1.125em;
	height: 5em;
	margin: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	@include transition( color 0.33s );
	width: 3.85em;

	&:before
	{
		content: $fa-var-times;
		font-family: FontAwesome;
	}

	&:focus
	{
		outline: none;
	}

	&:hover
	{
		color: rgba( $urbanrest-white, 1.0 );
		@include transition( color 0.666s );
	}
}

.admin-bar
{		
	.mfp-close,
	.mfp-image-holder .mfp-close,
	.mfp-iframe-holder .mfp-close
	{
		top: 32px;

		@include media( '<784px' )
		{
			top: 46px;
		}
	}
}

.mfp-bg {
	background-color: black;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.88;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}