@media only screen
{
	html
	{
		opacity: 0;

		&.no-javascript
		{
			opacity: 1;
		}

		&.ready
		{
			opacity: 1;
			@include transition( opacity 0.22s );
		}
	}

	.page-template-kickstarter
	{
		background-attachment: fixed;
		@include media('<=phone') { background-attachment: scroll; }
		background-color: black;
		background-image: url(images/background-hops.jpg);
		@include media( 'portrait' ) { background-image: url(images/background-hops-portrait.jpg); }
		background-position: center 0;
		@include media('<=phone') { background-position: center 0 !important; }
		background-repeat: no-repeat;
		@include background-size( cover );
	}

	#kickstarter
	{
		align-content: center;
		background-attachment: fixed;
		@include media('<=phone') { background-attachment: scroll; }
		background-color: black;
		background-image: url(images/background-kickstarter.jpg);
		@include media( 'portrait' ) { background-image: url(images/background-kickstarter-portrait.jpg); }
		background-position: center 0;
		@include media('<=phone') { background-position: center 0 !important; }
		background-repeat: no-repeat;
		@include background-size( cover );
		box-sizing: border-box;
		min-height: 100vh;
		overflow-x: hidden;
		padding: 5.75em 0;
		text-align: center;
		width: 100%;

		&:before
		{
			background-image: url(images/tile-diagonal-lines.png);
			background-position: center;
			background-repeat: repeat;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			width: 100%;
			top: 0;
		}

		a[href="#coming-soon"]
		{
			display: none;
		}

		h3
		{
			display: none;
		}
		
		h4
		{
			color: white;
			font-family: 'Rock Salt';
			font-size: 1.5em;
			font-weight: 400;
			margin-bottom: 0.5em;
			text-align: center;

			@media (min-width: 500px),
			       (min-width: 200px) and (-webkit-min-device-pixel-ratio: 2)
			{
				font-size: 1.25em;
			}
		}

		.page
		{
			position: relative;

			> header
			{
				display: none;
			}

			h2
			{
				line-height: 1.75em;
				margin: 1.5em 0;
				
				a
				{
					display: inline-block;
					font-family: 'RNS Baruta';
					font-size: 1.75em;
					text-decoration: none;
					text-transform: uppercase;

					@include media('>tablet')
					{
						font-size: 2.75em;
						line-height: 1em;
					}

				}
			}

			iframe
			{
				border: none;
				border-radius: 1em;
				max-width: 90%;
			}
		}

		.entry-header
		{
			display: none;
		}

		.entry-content
		{
			margin: 0 auto;
		}

		p
		{
			margin: 0;
		}
	}

	.kickstart
	{
		.rewards,
		.donate
		{
			background-color: rgb( 43, 194, 83 );
			border: 0;
			border-radius: 0.25em;
			box-sizing: border-box;
			color: white;
			cursor: pointer;
			display: inline-block;
			font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
			font-size: 1em;
			font-weight: 500;
			line-height: 1.5em;
			padding: 0.5em;
			text-align: center;
			text-decoration: none;
			@include transition( all 0.2s ease-in-out );
			vertical-align: baseline;

			&:first-child
			{
				margin-right: 0.5em;
			}

			@include media('<tablet')
			{
				width: auto;

				&:first-child
				{
					margin-bottom: 1em;
				}
			}

			@include media('>=tablet')
			{
				&:first-child
				{
					margin-right: 1.5em;
				}
			}

			&:before,
			{
				display: inline-block;
				font-family: FontAwesome;
				font-size: 1.25em;
				margin-right: 0.5em;
				vertical-align: bottom;
			}

			&:hover
			{
				box-shadow: 0 0 1.5em rgba( 0, 0, 0, 0.5 );
				background-color: lighten( rgb( 43, 194, 83 ), 5% );
				position: relative;
				z-index: 5;
				@include transition( background-color 0.11s, box-shadow 0.11s );
			}
		}

		.donate:before
		{
			content: '\f0d6';
		}

		.rewards:before
		{
			content: '\f06b';
		}
	}

	.success
	{
		color: yellow;
		font-family: 'Roboto';
		font-size: 1.5em;
		margin-top: 0.5em;

		@include media('>tablet')
		{
			font-size: 2.5em;
		}
	}

	.share
	{
		@include media('>=tablet')
		{
			display: inline-block;
			float: left;
			margin-left: 1%;
			width: 49%;
		}

		a
		{
			border-radius: 3pt;
			color: white;
			display: inline-block;
			font-family: 'Roboto';
			font-size: 1em;
			font-weight: 500;
			line-height: 1.25em;
			margin-right: 0.5em;
			padding: 0.6em 0.8em;
			text-decoration: none;
			@include transition( background-color 0.33s );

			&:before
			{
				display: inline-block;
				font-family: FontAwesome;
				font-size: 1.25em;
				margin-right: 0.5em;
				vertical-align: middle;

				@media (max-width: 500px),
				       (max-width: 200px) and (-webkit-min-device-pixel-ratio: 2)
				{
					margin-right: 0;
				}
			}

			&:hover
			{
				position: relative;
				z-index: 5;
				@include transition( background-color 0.11s );
			}

			&.facebook { background-color: $facebook-blue; }
			&.twitter { background-color: $twitter-blue; }
			&.google { background-color: $google-red; }
			&.email { background-color: #666; }

			&.facebook:before { content: '\f09a'; }
			&.twitter:before { content: '\f099'; }
			&.google:before { content: '\f0d5'; }
			&.email:before { content: '\f003'; vertical-align: baseline; }

			&.facebook:hover { background-color: lighten( $facebook-blue, 5% ); }
			&.twitter:hover { background-color: lighten( $twitter-blue, 5% ); }
			&.google:hover { background-color: lighten( $google-red, 5% ); }
			&.email:hover { background-color: lighten( #666, 5% ); }

			@include media('<=phone')
			{
				width: 1.25em;

				span
				{
					display: none;
				}
			}

			@include media('<=desktop','>tablet')
			{
				width: 1.25em;

				span
				{
					display: none;
				}
			}
		}
	}

	.progress
	{
		@include media('>=tablet')
		{
			display: inline-block;
			width: 49%;
		}

		#pledged
		{
			background-color: rgb( 43, 194, 83 );
			background-image: linear-gradient(
				center bottom,
				rgb( 43, 194, 83 ) 37%,
				rgb( 84, 240, 84 ) 69%
			);
			border-radius: 0.5em;
			display: block;
			height: 100%;
			overflow: hidden;
			position: relative;
			@include transition( width 2s ease-in-out );

			&.hidden
			{
				display: none;
				width: 0 !important;
			}

			&:after
			{
				background-image: linear-gradient(
					-45deg, 
					rgba( 255, 255, 255, .2 ) 25%, 
					transparent 25%, 
					transparent 50%, 
					rgba( 255, 255, 255, .2 ) 50%, 
					rgba( 255, 255, 255, .2 ) 75%, 
					transparent 75%, 
					transparent
				);
				background-size: 1em 1em;
				border-radius: 0.5em;
				bottom: 0;
				content: '';
				left: 0;
				overflow: hidden;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1;
			}
		}

		#progress
		{
			background: #555;
			border-radius: 1em;
			display: block;
			height: 1em;
			margin: 0 auto 1em;
			max-width: 500px;
			position: relative;
			padding: 0.5em;
			text-decoration: none;
			@include transition( background-color 0.33s );
			width: 80%;

			&:hover
			{
				background: lighten( #555, 5% );
				position: relative;
				z-index: 5;
				@include transition( background-color 0.11s );

				#pledged:after
				{
					@include animation( move 1s linear infinite );
				}
			}
		}
	}
}

.admin-bar
{
	@include media( '<=782px' ) { .site-header { min-height: calc(100% - 46px) !important; } }
	@include media( '>782px' ) { .site-header { min-height: calc(100% - 32px) !important; } }
}

@include keyframes( move )
{
	0% { background-position: 0 0; }
	100% { background-position: 1em 1em; }
}

@include keyframes( navigate )
{
	0% { opacity: 0.0; }
	50% { opacity: 0.5; }
	100% { opacity: 0.0; }
}

@include keyframes( shake )
{
	0%   { @include transform( translate(2pt, 1pt) rotate(0deg) ); }
	10%  { @include transform( translate(-1pt, -2pt) rotate(-2deg) ); }
	20%  { @include transform( translate(-2pt, 0pt) rotate(2deg) ); }
	30%  { @include transform( translate(0pt, 2pt) rotate(0deg) ); }
	40%  { @include transform( translate(1pt, -1pt) rotate(1deg) ); }
	50%  { @include transform( translate(-1pt, 2pt) rotate(-1deg) ); }
	60%  { @include transform( translate(-2pt, 1pt) rotate(0deg) ); }
	70%  { @include transform( translate(2pt, 1pt) rotate(-2deg) ); }
	80%  { @include transform( translate(-1pt, -1pt) rotate(2deg) ); }
	90%  { @include transform( translate(2pt, 2pt) rotate(-1deg) ); }
	100% { @include transform( translate(0pt, 0pt) rotate(0deg) ); }
}