.color-apple      { color: $apple-grey;            }
.color-facebook   { color: $facebook-blue;         }
.color-twitter    { color: $twitter-blue;          }
.color-google     { color: $google-red;            }
.color-youtube    { color: $youtube-red;           }
.color-linkedin   { color: $linkedin-blue;         }
.color-instagram  { color: $instagram-blue;        }
.color-pinterest  { color: $pinterest-red;         }
.color-vine       { color: $vine-green;            }
.color-snapchat   { color: $snapchat-yellow;       }
.color-quora      { color: $quora-burgundy;        }
.color-flickr     { color: $flickr-pink;           }
.color-tumbler    { color: $tumblr-dark-turquoise; }
.color-foursquare { color: $foursquare-blue;       }

.javascript
{
	[data-entered-viewport]:not(.animated)
	{
		opacity: 0;
	}
}

@include media("screen")
{
	.site-coming-soon,
	.site-description,
	.site-footer,
	.site-main
	{
		display: none;
	}

	#kickstarter
	{
		position: relative;
		z-index: 2;
	}

	#navigation
	{
		position: relative;
		z-index: 100;
	}
}

.admin-bar
{
	@include media( '>600px' ) { #main-navigation.stuck-top { top: 46px !important; } }
	@include media( '>782px' ) { #main-navigation.stuck-top { top: 32px !important; } }
}