.site
{
	&:not(.home)
	{
		.site-header { min-height: 0; @include transition(min-height 0.25s); }
		.page-navigation { bottom: auto; top: 0; }
		.social-navigation { display: none; }
		.site-posts { display: none; }
	}

	main.page
	{
		background-color: #DCC1A7;
		background-image: url('images/single-background.min.jpg');
		background-position: top center;
		background-repeat: repeat;
		background-size: 20em;
		color: darken(#A88C76, 40%);
		font-weight: 300;
		min-height: 100%;
		overflow-x: hidden;
		padding-bottom: 4em;
		padding-top: 5.5em;
		width: 100%;

		hr
		{
			border-style: dashed;
			border-width: 1px 0 0 0;
			border-color: black;
			padding: 0;
			margin: 2em 1em;
		}

		iframe
		{
			border: none;
			border-radius: 0.25em;
			display: block;
			margin: 0 auto;
			max-width: 90%;
		}

		.page-header
		{
			.page-title
			{
				font-size: 2em;
				margin-bottom: 0.5em;
				margin-top: 1em;
			}

			&.page-blank
			{
				font-size: 2em;
				margin-bottom: 0.5em;
				margin-top: 1em;
				
				.page-title
				{
					display: none;
				}
			}
		}

		.page-image
		{
			margin: 0;
			position: relative;
			text-align: center;
			width: 100%;

			img
			{
				border-radius: 50%;
				height: 22em;
				width: 22em;
			}

			figcaption
			{
				background-color: rgba( black, 0.55 );
				bottom: 0;
				box-sizing: border-box;
				color: white;
				font-weight: 400;
				left: 0;
				padding: 1em;
				position: absolute;
				width: 100%;

				.page-image-title
				{
					font-size: 1.5em;
				}

				.page-image-caption
				{
					font-size: 0.8em;
					font-style: italic;
					font-weight: 100;
				}

				.page-image-description
				{
					font-size: 1em;
					margin-top: 0.5em;
				}
			}
		}

		.page-content
		{
			font-size: 1.2em;
			line-height: 1.5em;

			h2
			{
				font-size: 1.3em;
				margin-bottom: 0.25em;
			}

			h4
			{
				margin-bottom: 0.25em;
				margin-top: 0.5em;
			}

			p, table
			{
				margin-bottom: 1em;
			}

			a
			{
				@extend .hyperlink;
			}

			img {
				border-radius: 2pt;
			}

			.alignleft {
				float: left;
				margin-right: 1em;
				margin-bottom: 1em;
			}

			.alignright {
				float: right;
				margin-left: 1em;
				margin-bottom: 1em;
			}

			.aligncenter {
				display: block;
				float: none;
				height: auto;
				margin: 1em auto;
				max-width: 100%;
			}

			@include media('<=phone') {
				.alignleft, .alignright {
					display: block;
					float: none;
					margin: 1em auto;
				}
			}
		}

		.page-footer
		{
			margin-top: 3em;

			.page-sharing.modal:not(.modal-opened):not(.modal-closing) { display: none; }

			.page-actions
			{
				text-align: center;

				.page-share
				{
					@extend .share;
				}
			}

			.page-tags
			{
				list-style: none;
				margin: 3em 0;
				padding: 0;

				.page-tag
				{
					display: inline;

					a
					{
						background-color: rgba( $urbanrest-black, 0.3 );
						border: none;
						border-radius: 0.25em;
						color: inherit;
						display: inline-block;
						margin-right: 0.5em;
						padding: 0.5em;
						@include transition( background-color 0.33s );

						&:hover
						{
							background-color: rgba( $urbanrest-green, 0.3 );
							color: $urbanrest-green;
							border: none;
							@include transition( background-color 0.11s );
						}
					}

					&:last-child a
					{
						margin-right: 0;
					}
				}
			}
		}
	}

	#main-navigation
	{
		bottom: auto;
		top: 0;
	}

	@include media( '>600px' ) { &.admin-bar #main-navigation { top: 46px; } }
	@include media( '>782px' ) { &.admin-bar #main-navigation { top: 32px; } }
}