html.no-javascript,
html.javascript
{
	height: 100%;
	margin: 0;
	width: 100%;
}

.site
{
	background-color: #000;
	cursor: default;
	font-family: 'Roboto', Arial;
	font-size: 16px;
	height: 100%;
	margin: 0;
	width: 100%;

	h1, h2, h3, h4, h5, h6, p, ol, ul, dt, dd
	{
		margin: 0;
	}

	em
	{
		font-style: italic;
		font-weight: 400;
	}

	hr
	{
		border-style: dashed;
		border-width: 1px 0 0 0;
		border-color: black;
		padding: 0;
		margin: 2em 1em;
	}

	abbr
	{
		text-decoration: none;
	}

	.hidden { display: none; }

	> .row { margin: 0 !important; }
}