.share
{
	background: none;
	border: none;
	border-radius: 50%;
	bottom: 11pt;
	display: block;
	font-size: 0;
	font-weight: 400;
	margin: 0;
	padding: 0;
	position: fixed;
	right: 11pt;
	text-align: center;
	z-index: 1;

	@include media('>tablet')
	{
		bottom: 22pt;
		right: 22pt;
	}

	&:before
	{
		background: #4CAF50;
		border-radius: 50%;
		box-shadow: 0 1pt 3pt rgba(black,0.26);
		color: rgba(white,0.75);
		content: "\f086";
		display: block;
		font-family: FontAwesome;
		font-size: 22pt;
		height: 44pt;
		line-height: 44pt;
		margin: 0;
		text-align: center;
		@include transform( scale(0) );
		@include transition( all 0.2s cubic-bezier(0.4, 0, 0.2, 1) );
		width: 44pt;
	}

	&:hover
	{
		border: none;

		&:before
		{
			color: rgba(white, 0.88);
		}
	}



	&.visible:before
	{
		@include transform( scale(1) );
	}

	.share-count
	{
		display: none;
		margin-left: 0.5em;

		&:before { content: '('; }
		&:after { content: ')'; }
	}
}

.sharing
{
	list-style: none;
	padding: 0;
	text-align: center;

	a
	{
		background-color: lighten( $urbanrest-black, 50% );
		border: none;
		border-radius: 0.25em;
		color: rgba( $urbanrest-white, 0.98 );
		display: inline-block;
		font-weight: 400;
		margin-bottom: 0.5em;
		margin-right: 0.5em;
		padding: 0.5em;
		text-shadow: 0px 1px 0 rgba( $urbanrest-black, 0.33 );
		@include transition( background-color 0.33s, color 0.33s );
		width: 15em;

		&:before
		{
			font-family: FontAwesome;
			margin-right: 0.5em;
		}

		&:hover
		{
			background-color: lighten( $urbanrest-black, 45% );
			color: rgba( $urbanrest-white, 1.0 );
			border: none;
			@include transition( background-color 0.11s, color 0.11s );
		}

		&.icon:focus
		{
			border: none;
		}

		&.facebook
		{
			background-color: $facebook-blue;
			&:hover { background-color: darken( $facebook-blue, 5% ); }
		}

		&.google
		{
			background-color: $google-red;
			&:hover { background-color: darken( $google-red, 5% ); }
		}

		&.twitter
		{
			background-color: $twitter-blue;
			&:hover { background-color: darken( $twitter-blue, 5% ); }
		}
	}

	.email    { &:before { content: $fa-var-envelope; } }
	.facebook { &:before { content: $fa-var-facebook; } }
	.google   { &:before { content: $fa-var-google-plus; } }
	.twitter  { &:before { content: $fa-var-twitter; } }
	
	.shortlink
	{
		background: black;
		border: dotted 1px white;
		border-radius: 0.25em;
		color: white;
		display: block;
		font-size: 1em;
		margin: 1em;
		overflow: hidden;
		padding: 0.5em;
		text-align: center;
		text-overflow: ellipsis;
		width: 15em;

		&:focus
		{
			outline: none;
		}
	}
}

.share-modal .icon:focus {
	border: none;
}

.no-javascript .share-modal {
	.shortlink {
		background: none;
		border: none;
		color: $urbanrest-black;
		display: inline-block;
		font-weight: 600;
		margin: 0.25em auto;
		overflow: visible;
		width: auto;
	}
	.menu-title { color: $urbanrest-black; }
	.modal-close { display: none; }
}