@media only screen
{
	.social-menu
	{
		list-style: none;
		margin: 0;
		padding: 0;

		.menu-item
		{
			display: inline-block;
		}
	}

	.share-modal,
	.checkin-modal
	{
		.message
		{
			color: white;
			font-size: 3em;
			font-family: 'Satisfy';
			margin-bottom: 0.5em;
		}

		.shortlink
		{
			color: white;
			display: block;
			font-size: 3em;
			font-family: 'Satisfy';
			line-height: 1em;
			margin-bottom: 0.5em;
			text-decoration: none;

			&:hover
			{
				color: $urbanrest-green;
			}

			&:focus
			{
				outline: none;
			}
		}

		.menu-title
		{
			color: white;
			font-weight: 400;
			font-size: 1em;
			margin-bottom: 1em;
		}

		.menu
		{
			font-size: 2em;
			list-style: none;
			padding: 0;
			text-align: center;

			.menu-item
			{
				display: inline-block;
			}
		}
	}


	.icon,
	.social-menu .menu-item a
	{
		background-image: url('images/icons.min.png');
		background-size: 400% 400%;
		border: none;
		border-radius: 3pt;
		display: inline-block;
		height: 2em; // 1.88em;
		margin: 0.25em;
		opacity: 0.75;
		overflow: hidden;
		@include transition( opacity 0.11s );
		width: 2em;

		&:focus
		{
			box-shadow: inset 0 0 1pt rgba( black, 0.5 );
			outline: 3pt solid rgba( white, 0.5 );

			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;

			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;

			-webkit-animation-name: pulse;
			animation-name: pulse;
		}

		&:hover
		{
			opacity: 1;
		}
	}

	.icon
	{
		&.facebook     { background-position: calc(0 * 100% / 3) calc(0 * 100% / 3); }
		&.instagram    { background-position: calc(1 * 100% / 3) calc(0 * 100% / 3); }
		&.twitter      { background-position: calc(2 * 100% / 3) calc(0 * 100% / 3); }
		&.email        { background-position: calc(3 * 100% / 3) calc(0 * 100% / 3); }
		&.google-plus  { background-position: calc(0 * 100% / 3) calc(1 * 100% / 3); }
		&.pinterest    { background-position: calc(1 * 100% / 3) calc(1 * 100% / 3); }
		&.youtube      { background-position: calc(2 * 100% / 3) calc(1 * 100% / 3); }
		&.untappd      { background-position: calc(0 * 100% / 3) calc(2 * 100% / 3); }
		&.ratebeer     { background-position: calc(1 * 100% / 3) calc(2 * 100% / 3); }
		&.beeradvocate { background-position: calc(2 * 100% / 3) calc(2 * 100% / 3); }

		.icon-label { display: none; }
	}

	.social-menu .menu-item
	{
		&.facebook a     { background-position: calc(0 * 100% / 3) calc(0 * 100% / 3); }
		&.instagram a    { background-position: calc(1 * 100% / 3) calc(0 * 100% / 3); }
		&.twitter a      { background-position: calc(2 * 100% / 3) calc(0 * 100% / 3); }
		&.email a        { background-position: calc(3 * 100% / 3) calc(0 * 100% / 3); }
		&.google-plus a  { background-position: calc(0 * 100% / 3) calc(1 * 100% / 3); }
		&.pinterest a    { background-position: calc(1 * 100% / 3) calc(1 * 100% / 3); }
		&.youtube a      { background-position: calc(2 * 100% / 3) calc(1 * 100% / 3); }
		&.untappd a      { background-position: calc(0 * 100% / 3) calc(2 * 100% / 3); }
		&.ratebeer a     { background-position: calc(1 * 100% / 3) calc(2 * 100% / 3); }
		&.beeradvocate a { background-position: calc(2 * 100% / 3) calc(2 * 100% / 3); }

		.menu-label { display: none; }
	}
}