@media only screen
{
	.site
	{
		.site-specials
		{
			background-image: url('images/background-chalkboard.min.jpg');
			@include media( 'portrait' ) { background-image: url('images/background-chalkboard-portrait.min.jpg'); }
			background-position: center 0;
			@include media( '<=phone' ) { background-position: center 0 !important; }
			background-repeat: no-repeat;
			@include background-size( cover );
			color: $chalk-white;
			font-family: 'Chalk It Up';
			@include font-smoothing( antialiased );
			-moz-osx-font-smoothing: grayscale;
			min-height: 100%;
			padding: 7em 0;
			position: relative;

			a
			{
				color: inherit;
				text-decoration: none;
				text-transform: uppercase;
			}

			h2
			{
				display: none;
			}

			.beer-list
			{
				font-size: 4em;
				margin-bottom: 0.75em;

				@include media('>tablet')
				{
					margin-bottom: 0;
				}

				ol
				{
					list-style: none;
					padding: 0;
				}

				h3 { display: none; }

				.beer
				{
					line-height: 0.8em;
					margin-bottom: 0.5em;

					.abv
					{
						font-family: 'Chalk It Up';
						float: left;
						font-size: 0.75em;
						line-height: 1em;
						margin-right: 0.5em;
						text-align: right;
						vertical-align: top;
						width: 3em;
					}

					p
					{
						font-size: 0.5em;
						line-height: 1.5em;
						padding-left: 10rem;
					}

					+ .beer
					{
						margin-top: 0.33em;
					}

					a:hover, a:hover + .abv
					{
						color: $chalk-green;
					}
				}
			}

			.growler-list
			{
				font-size: 2em;
				text-align: center;

				h3
				{
					display: inline-block;
					font-weight: normal;
					margin: 0;
					max-width: 100%;
					text-align: center;
					vertical-align: top;
					width: 100%;

					&:after {
						content: ':';
					}
				}

				ol
				{
					display: inline-block;
					list-style: none;
					padding: 0;
					text-align: center;

					li a:hover
					{
						color: $chalk-green;
					}
				}

				@include media('>tablet')
				{
					background-image: url(images/chalk-growler.png),
					                  url(images/chalk-growler-2.png),
					                  url(images/chalk-growler-2.png);
					background-repeat: no-repeat;
					background-position: 10% 50%, 84% 50%, 90% 0%;
					background-size: auto 100%, auto 100%, auto 94%;
					margin-top: 1em;
					padding-bottom: 2em;
					padding-top: 1em;
				}
			}

			@include media( '<=tablet' )
			{
				.beer-list
				{
					font-size: 3em;

					.beer
					{
						.abv
						{
							float: right;
							font-size: 0.5em;
							line-height: 1.8em;
							margin-right: 0;
							text-align: right;
						}

						.title
						{
							font-size: 0.8em;
						}

						p
						{
							font-size: 0.4em;
							padding: 0;
						}
					}
				}

				.growler-list
				{
					h3
					{
						font-size: 0.8em;
					}
				}
			}
		}
	}
}