@media only screen
{
	.site
	{
		.site-specials
		{
			/*background-attachment: fixed;*/
			background-image: url(images/background-chalkboard.jpg);
			@include media( 'portrait' ) { background-image: url(images/background-chalkboard-portrait.jpg); }
			background-position: center 0;
			@include media( '<=phone' ) { background-position: center 0 !important; }
			background-repeat: no-repeat;
			@include background-size( cover );
			color: $chalk-white;
			font-family: 'Colored Crayons';
			@include font-smoothing( antialiased );
			-moz-osx-font-smoothing: grayscale;
			min-height: 100vh;
			padding: 7em 0;
			position: relative;

			a
			{
				color: inherit;
				text-decoration: none;
			}

			h2
			{
				display: none;
				/*
				color: white;
				font-family: 'Witka';
				font-size: 3em;
				font-weight: 400;
				margin: 0 0 1em 0;
				text-align: center;
				text-decoration: none;
				text-shadow: 0 0 0.33em black;
				text-transform: uppercase;
				*/
			}

			.beer-list
			{
				font-size: 4em;
				margin-bottom: 0.75em;

				h3 { display: none; }

				.beer
				{
					.abv
					{
						font-family: 'Chalk It Up';
						float: left;
						font-size: 0.75em;
						margin-right: 0.5em;
						text-align: right;
						vertical-align: top;
						width: 3em;
					}

					p
					{
						font-size: 0.5em;
						padding-left: 10rem;
					}

					+ .beer
					{
						margin-top: 0.33em;
					}
				}
			}

			.growler-list
			{
				font-size: 2em;
				text-align: center;

				h3
				{
					display: inline-block;
					font-weight: normal;
					margin-right: 1em;
					max-width: 6em;
					text-align: center;
					vertical-align: top;

					&:after {
						content: ':';
					}
				}

				ol
				{
					display: inline-block;
					text-align: left;
				}
			}

			@include media( '<=tablet' )
			{
				.beer-list
				{
					font-size: 3em;

					.beer
					{
						.abv
						{
							float: right;
							font-size: 0.5em;
							line-height: 1.8em;
							text-align: center;
						}

						.title
						{
							font-size: 0.8em;
						}

						p
						{
							font-size: 0.4em;
							padding: 0;
						}
					}
				}

				.growler-list
				{
					h3
					{
						font-size: 0.8em;
						margin: 0;
						max-width: 100%;
						width: 100%;
					}

					ol
					{
						text-align: center;
					}
				}
			}
/*
			.upcoming-beer
			{
				h3
				{
					background-image: url(images/chalk-circle.png);
					background-position: center;
					background-repeat: no-repeat;
					background-size: 100%;
					box-sizing: border-box;
					color: $chalk-green;
					float: left;
					font-size: 2.25em;
					height: 2.5em;
					line-height: 0.75em;
					margin-left: -0.1em;
					margin-right: 0.3em;
					margin-top: 0.1em;
					padding: 0.6em 0.4em 0.4em;
					text-align: center;
					width: 2.5em;

					@include media('<=phone')
					{
						margin-bottom: -2.25em;
						margin-left: 0.25em;
					}
				}

				.decks
				{
					@include media('<=phone')
					{
						width: 100%;
					}

					thead
					{
						display: none;
					}

					.beer
					{
						.title, .style
						{
							@include media('<=phone')
							{
								padding-left: calc(0.25em + 33%);
								width: 100% !important;
							}
						}
					}
				}
			}
*/
		}
	}
}