@import '../../node_modules/font-awesome/scss/font-awesome.scss';
@import '../mixins';
@import '../colors';
@import '../fonts';
@import '../hyperlink';

body
{
	background-color: #DCC1A7;
	background-image: url('../../images/single-background.jpg');
	background-position: center;
	background-repeat: repeat;
	background-size: 20em;
	color: darken(#A88C76, 40%);
	font-family: 'Roboto', Arial;
	font-size: calc(16px * 1.2);
	font-weight: 300;
	line-height: 1.5em;
}

a, .hyperlink
{
	@extend .hyperlink;
}

hr
{
	border-style: dashed;
	border-width: 1px 0 0 0;
	border-color: black;
	padding: 0;
	margin: 2em 1em;
}

iframe
{
	border: none;
	border-radius: 0.25em;
	display: block;
	margin: 0 auto;
	max-width: 90%;
}

p
{
	margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dt, dd
{
	margin: 0;
}

h2
{
	font-size: 1.3em;
	margin-bottom: 0.25em;
}

em
{
	font-style: italic;
	font-weight: 400;
}

hr
{
	border-style: dashed;
	border-width: 1px 0 0 0;
	border-color: black;
	padding: 0;
	margin: 2em 1em;
}

abbr
{
	text-decoration: none;
}